.v-dialog {
  //max-height: 100% !important;
  overflow: hidden;

  &.ismobile {
    height: 100%;
    margin: rem-calc(40px) rem-calc(10px);

    & > .v-card .v-card__text {
      margin-top: 0;
      padding: 1rem !important;

      &.formext {
        height: rem-calc(360px);
      }

      & .pr-ext {
        padding-right: 0 !important;
      }

      & .row {
        & > .col {
          max-width: 100%;
          min-width: 100%;
        }
      }
    }
  }
  .v-card {
    border-radius: 0 !important;

    .v-card__title {
      line-height: rem-calc(30px);
      padding: rem-calc(18px) rem-calc(26px) rem-calc(18px) rem-calc(26px);

      .v-btn--icon {
        width: rem-calc(18px);
        height:rem-calc(18px);
        border: 0;
        padding: 0;
      }
    }

    .v-card__text {
      margin-top: 0;
      padding: rem-calc(40px);

      &.formext {
        height: rem-calc(470px);
      }

      .v-input__control > .v-input__slot {
        min-height: rem-calc(48px) !important;
      }
    }

    .v-card__text .pr-ext {
      padding-right: rem-calc(100px) !important;
    }

    .v-card__actions {
      padding:0 rem-calc(30px) rem-calc(30px);
    }
  }
}
