@include theme(v-data-table) using ($material) {
  & tbody tr > td {
    border: none !important;
  }
  
  & thead tr {
    & > .sortable .v-icon {
      //opacity: 1;
      font-size: rem-calc(24px) !important;
    }

    & > :last-child{
      width: rem-calc(120px);
    }
  }
  
  &.table-xl {
    &:not(.ismobile) thead > tr {
      & > :last-child {
        padding-left: rem-calc(10px) !important;
      }      
    }

    & thead > tr {
      height: rem-calc(58px);

      & > .sortable .v-data-table-header__icon,
      & > .sortable.active .v-data-table-header__icon {
        color: #dadada;
      }

      & > .sortable .v-icon {
        margin-right: rem-calc(8px);
      }
      
      & > :nth-child(2){
        width: rem-calc(170px) !important;
      }

      & > :last-child {
        width: rem-calc(120px);
      }

      & > th {
        min-width: rem-calc(160px);
      }
      
      & > th:not(:first-child):not(:last-child) {
        padding: 0 !important;
      }
    }
  }

  &:not(.ismobile).table-xl tbody > tr {
    height: rem-calc(82px);

    & > td:not(:first-child) {
      padding-right: rem-calc(10px);
      padding-left: rem-calc(10px);
    }

    & > td .v-icon:first-child{
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    & > td .v-icon:not(:first-child):not(:last-child){
      margin-right: rem-calc(15px) !important;
      margin-left: rem-calc(15px) !important;
    }
  }
  
  &:not(.table-sm) > .v-data-table__wrapper > table > thead > tr > th {
    padding-left: rem-calc(20px);
    color: map-deep-get($material, 'colors', 'light');
    background: map-deep-get($material, 'colors', 'primary');
    
    &:first-child {
      width: rem-calc(60px);
    }
  }

  &.table-sm {
    & > .v-data-table__wrapper > table {
      & > tbody tr.body-prepend:hover{
        background-color: transparent;
      }
      & > tbody tr:nth-child(odd):not(.body-prepend):not(.body-append) {
          background-color: map-deep-get($material, 'colors', 'secondary');
      }
      & > thead > tr {
        height: rem-calc(40px) !important;

        & > th {
          border-top: 1px solid map-deep-get($material, 'colors', 'darken1');
          border-bottom: 1px solid map-deep-get($material, 'colors', 'darken4');
          color: map-deep-get($material, 'colors', 'darken3');
          padding: rem-calc(12px) rem-calc(10px);
          
          & > .v-data-table__checkbox {
            right: 0;
          }

          &:not(:last-child){
            min-width: rem-calc(160px);
          }
          
          &:nth-child(2),
          &:nth-child(4) {
            width: 35%;
          }
          
          & :nth-child(1) .v-icon {
            margin-left: 0;
          }
          
          & .v-icon {
            color: map-deep-get($material, 'colors', 'darken3') !important;
            margin-left: rem-calc(12px);
          }
        }
      }

      & > tbody > tr > td {
        padding: rem-calc(12px) rem-calc(10px);

        & > .v-data-table__checkbox {
          right: 0;
        }
        
        & .v-icon {
          color: map-deep-get($material, 'colors', 'darken3') !important;
        }
      }
    }
  }

  & > .v-data-table__wrapper > table > tbody > tr > td {
    padding-left: rem-calc(20px);

    & > .v-icon {
      color: map-deep-get($material, 'colors', 'darken3');
    }
  }

  &:not(.icon-sort-left) th .v-icon {
    float: right;
  }

  &.icon-sort-left th .v-icon {
    float: left;
  }
  .v-data-table-header .v-icon {
    color: map-deep-get($material, 'colors', 'light');

    &.focus::after {
      opacity: 0.12;
    }
  }

  .filter {
    width: rem-calc(430px);
    min-width: rem-calc(200px);
  }

  &.ismobile {
    /*& thead tr {
      height: auto;
    }*/
    & tbody tr { 
      & > :first-child {
        padding: 0 rem-calc(10px) !important;  
      }

      & > td {
        padding: 0 !important;
        height: auto;

        & > a,
        & > span {
          vertical-align: middle;  
        }

        & > .v-input {
          margin:rem-calc(5px) 0 ;
        }
      }
    }

    & thead tr {
      & > :first-child {
        padding: 0 rem-calc(10px) !important;  
      }

      & > th {
        padding: 0 !important;
        height: auto;
        &.sortable{
          padding-right: rem-calc(20px) !important;
        }
      }
    }

    .breaktext{
      max-width: rem-calc(140px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
    }
  }
}
