@include theme(v-expansion-panels) using($material) {
  .active-collapse-item {
    button {
      border-bottom: 1.25px solid map-get($material, 'colors', 'secondary');
    }
  }

  .v-expansion-panel {
    border-bottom: 1.25px solid map-get($material, 'colors', 'secondary');
  }

  .v-expansion-panel-header__icon {
    .v-icon {
      font-size: $expansion-panel-header-icon-font-size;
    }
  }
}
