$dark-colors: (
  primary: #ff904c,
  secondary: #019a9a,
  dark: #f5ecd2,
  accent: #574838,
  neutral: #111,
  darken1: #BBBBBB,
  darken2: #656565,
  darken3: #f1efef,
  black: #eee,
  light: #000,
  error: #F56B0F,
  info: #CFE1F3,
  success: #00ADA2,
  warning: #E22C2C
);
