.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-robotoslab {
  font-family: 'Roboto Slab', sans-serif;
}

.font-small {
  font-size: rem-calc(14px);
}

.font-regular {
  font-size: rem-calc(16px) !important;
}

.font-large {
  font-size: rem-calc(18px);
}

.font-xlarge {
  font-size: 24px;
}

.font-25 {
  font-size: rem-calc(25px);
}

.font-xxlarge {
  font-size: rem-calc(30px);
}

.font-title {
  font-size: rem-calc(20px);
}

.weight-200 {
  font-weight: 200 !important;
}

.weight-300 {
  font-weight: 300 !important;
}

.weight-400 {
  font-weight: 400 !important;
}

.weight-500 {
  font-weight: 500 !important;
}

.weight-600 {
  font-weight: 600 !important;
}

.weight-700 {
  font-weight: 700 !important;
}

.font-icons-regular {
  font-size: rem-calc(24px);
}

.line-height-16 {
  line-height: rem-calc(16px);
}
.line-height-24 {
  line-height: rem-calc(24px);
}

.line-height-30 {
  line-height: rem-calc(30px);
}

.line-height-31 {
  line-height: rem-calc(31px) !important;
}

.line-height-32 {
  line-height: rem-calc(32px);
}

.line-height-42 {
  line-height: rem-calc(42px);
}

.no-line-height {
  line-height: 0;
}

.text-underline {
  text-decoration: underline !important; /* stylelint-disable-line */
}

.font-20 {
  font-size: rem-calc(20px);
}
.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-small {
  font-size: rem-calc(14px);
}

.font-regular {
  font-size: rem-calc(16px);
}

.font-large {
  font-size: rem-calc(18px);
}

.font-xlarge {
  font-size: 24px;
}

.font-25 {
  font-size: rem-calc(25px);
}

.font-xxlarge {
  font-size: rem-calc(30px);
}

.font-title {
  font-size: rem-calc(20px);
}

.weight-normal {
  font-weight: normal !important;
}

.weight-200 {
  font-weight: 200 !important;
}

.weight-300 {
  font-weight: 300 !important;
}

.weight-400 {
  font-weight: 400 !important;
}

.weight-500 {
  font-weight: 500 !important;
}

.weight-600 {
  font-weight: 600 !important;
}

.weight-700 {
  font-weight: 700 !important;
}

.font-icons-regular {
  font-size: rem-calc(24px);
}

.line-height-16 {
  line-height: rem-calc(16px);
}
.line-height-24 {
  line-height: rem-calc(24px);
}
.line-height-22 {
  line-height: rem-calc(22px);
}

.line-height-29 {
  line-height: rem-calc(29px);
}

.line-height-30 {
  line-height: rem-calc(30px);
}

.line-height-31 {
  line-height: rem-calc(31px) !important;
}

.line-height-32 {
  line-height: rem-calc(32px);
}

.line-height-42 {
  line-height: rem-calc(42px);
}

.no-line-height {
  line-height: 0;
}

.text-underline {
  text-decoration: underline !important; /* stylelint-disable-line */
}

.font-20 {
  font-size: rem-calc(20px);
}

.font-16 {
  font-size: rem-calc(16px);
}

.underline-text {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 1px;
}
