.row.ismobile{
    display: block;
}
.col-5.ismobile {
    min-width: 100% !important;
    margin-top: 50px;
}
.col-5 {
    min-width: 450px;
}
.align-right{
    text-align: right;
    float: right;
    margin-right: 9px !important;
    width: 100%;
}
.mt-minus-28{
    margin-top: -28px;
}
.mt-{
    margin-top: -28px;
}