$light-colors: (
    primary: #0F69C4,
    secondary: #CFE1F3,
    accent: #E22C2C,
    neutral: #F8F8F8,
    darken1: #BBBBBB,
    darken2: #656565,
    darken3: #373737,
    dark: #092039,//#001C41,
    black: #111111,
    light: #FFFFFF,
    error: #E22C2C,
    success: #00ADA2,
    warning: #F56B0F
);
