.v-card > div.v-select {
    border-radius: 0px !important;
  }
  @include theme(v-select) using($material) {
    $darken3: map-deep-get($material, 'colors', 'darken3');
    &.v-text-field--outlined {
      & > .v-input__control {
        padding: 0;
        & > .v-input__slot {
          min-height: rem-calc(48px) !important;
        }
        i.v-icon.v-icon {
          font-size: rem-calc(32px) !important;
          color: $darken3;
        }
      }
    }
    &.v-text-field--outlined.v-input--is-focused fieldset {
      border: 1px solid !important;
    }
    &.v-select.v-select--chips .v-select__selections {
      margin-left: rem-calc(-12px) !important;
      padding: 4px 2px !important;
    }
    &.v-select__selections {
    }
  }
  @include theme(v-menu__content) using($material) {
    $primarycolor: map-get($material, 'primary');
    $text-color: map-get($material, 'light');
    .v-list-item__action .v-icon.v-icon {
      font-size: rem-calc(32px) !important;
    }
    .v-list-item__action {
      margin-right: 8px !important;
    }
    .v-list-item__title {
      line-height: 24px !important;
    }
    .v-list-item {
      padding: 0px !important;
      margin: 0px 8px !important;
    }
  
    &.v-menu__content {
      border: 1px solid $primarycolor !important;
      border-radius: 0px !important;
      margin-top: 10px !important;
    }
    &.v-menu__content .v-list-item__content {
      padding: 4px 0 !important;
    }
    .v-list-item:hover {
      background: none !important;
    }
  }