@include theme(v-tabs) using ($material) {
  $bg-color: map-deep-get($material, 'v_tabs', 'tabs-bar-background-color');
  $tx-color: map-deep-get($material, 'v_tabs', 'light');
  $tx-dissable-color: map-deep-get($material, 'v_tabs', 'tabs-bar-text-dissable-color');
  $primary : map-deep-get($material, 'colors', 'primary');
  $light : map-deep-get($material, 'colors', 'light');
  & > .v-tabs-bar--is-mobile .tab-header-content {
    min-width: auto !important;
  }
  .v-tab{
    font-size: rem-calc(16px);
    line-height: rem-calc(24px);
    text-transform: none !important;
    height: 48px !important;
  }

  .v-tab:not(.v-tab--active){
    color: $tx-dissable-color !important;
  }


  .v-tab:not(.v-tab--active),
  .v-tab:not(.v-tab--active) > .v-icon,
  .v-tab:not(.v-tab--active) > .v-btn,
  .v-tab--disabled {
    color:  map-get($material, 'tabs');
  }
  .v-slide-group__content{
    height: 54px;
    padding: 2px 0;
  }
  .v-tabs-slider-wrapper{display: none;}

  .v-tab:not(.v-tab--active) .tab-title{
    text-decoration: underline;
  }

  .v-tab span{
    margin-right: 12px;
  }

  .v-tab--active div.tab-number{
    background-color: $tx-color !important;
    color : $bg-color !important;
  }

  .v-tab:not(.v-tab--active) div.tab-number{
    background-color: $bg-color !important;
    color :  $tx-color !important;
  }

  .v-tab div.tab-number{
    border-radius: 50%;
    height: 24px;
    width: 24px;
    float: right;
    font-size: 14px;
  }

  .v-window__container{
    transition: none !important;
  }

  &.tab-outlined{
    .v-tabs-items{
      min-height: 50px !important;
      border-right: 1px solid  $primary  !important;
      border-left: 1px solid  $primary  !important;
      border-bottom: 1px solid  $primary !important;
      padding: 20px !important;
    }
    .v-tabs-bar__content{
      height: 40px !important;
      border-bottom: 1px solid  $primary !important;
    }
    & > .v-tabs{
      height: 40px !important;
      color: $primary !important;
      text-decoration: underline !important;
    }
    .v-tab{
      height: 40px !important;
      border-top: 1px solid  $primary  !important;
      border-left: 1px solid  $primary  !important;
      border-bottom: 1px solid $light !important;
    }
    .v-tab:last-child{
      border-right: 1px solid  $primary  !important;
    }
    .tab-icon{
      width: 16px;
      height: 16px;
      float: left;
      margin-right: 17px;
    }
    .tab-icon > i, 
    .v-tab:not(.v-tab--active){
      color: $primary !important;
    }
    .v-tab.v-tab--active{
      height: 43px !important;
      border-bottom: 6px solid #FFFFFF !important;
    }
    .v-tab.v-tab--active .tab-header-content{
      margin-top: 1px !important;
    }
    .tab-header-content{
      margin-top: -1px !important;
    }
  }
}
.tab-primary .v-item-group.v-tabs-items{
  margin-top: 1px !important;
}
.v-slide-group:not(.v-slide-group--has-affixes) > .v-slide-group__prev{
  display: none !important;
}
.tab-header-content {
  min-width: 136px !important;
}
@include theme(tab-primary) using ($material) {
  $bg-color: map-deep-get($material, 'v_tabs', 'tabs-bar-background-color');
  $tx-color: map-deep-get($material, 'v_tabs', 'light');
  $tx-dissable-color: map-deep-get($material, 'v_tabs', 'tabs-bar-text-dissable-color');

  .v-tab--active {
    background-color: $bg-color;
    color :  $tx-color;
  }
  .v-tabs > .v-tabs-bar {
      background-color: #ffffff00 !important;
  }
}
@include theme(tab-default) using ($material) {
  $bg-color: map-get($material, 'v_tabs', 'light');
  $tx-color: map-deep-get($material, 'v_tabs', 'primary');
  $tx-dissable-color: map-deep-get($material, 'v_tabs', 'tabs-bar-text-dissable-color');

  .v-tab--active {
    background-color: $bg-color;
    color :  $tx-color;
    border-bottom: 4px solid;
    .tab-header-content{
      margin-top: 4px;
    }
  }
  .tab-header-content {
    font-weight: 400 !important;
    min-width: 146px;
  }


  .v-tab:not(.v-tab--active){
    font-weight: 400 !important;
  }
}
